[submodule "translation"]
	path = translation
	url = https://github.com/LunaticSea/translation.git
[submodule "lunatic_link"]
	path = libs/lunalink
	url = https://github.com/LunaticSea/Lunalink
[submodule "libs/lunaticdb"]
	path = libs/lunaticdb
	url = https://github.com/LunaticSea/lunaticdb
[submodule "libs/discordia"]
	path = libs/discordia
	url = https://github.com/LunaticSea/Discordia
[submodule "libs/plugins-api"]
	path = libs/plugins-api
	url = https://github.com/LunaticSea/plugins-api
